@import '../src/scss/themes/theme-dark.scss';
@import '../src/scss/themes/theme-light.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Ubuntu+Mono&display=swap');

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-container {
	height: 50px;
}

.title-styles {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 250%;
}

.skills-styles {
	font-family: 'Open Sans', sans-serif;
}

.header-icon {
	height: 150px;
	width: 150px;
}

header {
	position: relative;
	height: 945px !important;
	min-height: 450px;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	overflow: hidden;
	background-color: #EDE3D4;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 150px;
}

header h1 {
	font-size: 450%;
	text-align: center;
	font-weight: 600 !important;
	color: #353239;
	font-family: 'Montserrat', sans-serif;
	margin: 20px auto 18px auto;
	width: 100%;
	text-transform: uppercase;
}

.styles_typicalWrapper__1_Uvh::after {
	cursor: none !important;
	display: none;
}

#about {
	background: #f6f5f0;
	overflow: hidden;
}

#about h1 {
	padding-top: 5%;
	font-family: 'Ubuntu Mono', monospace;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

.resume-button {
	background-color: #C7B29F;
    color: black;
    padding: 10px 20px;
	border: none;
    border-radius: 6px;
    cursor: pointer;
	font-size: 10px;
	transition: background-color 0.2s ease-in-out;
	font: 15px/25px 'Open Sans', sans-serif;

}

.resume-button:hover {
	background-color: #9f8b7a
}

.foto img {
	display: block;
	width: 100%;
}

.foto div {
	background: #EDE3D4;
	display: inline-block;
	margin: 0 auto 5% auto;
	padding: 10px 10px 5px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-webkit-transition: all .20s linear;
	-moz-transition: all .20s linear;
	transition: all .20s linear;
	z-index: 0;
	position: relative;
}

.foto div:after {
	color: #333;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top: 15px;
}

.foto div:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
	z-index: 10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}

.project-title-settings {
	margin-top: 5%;
	font: 15px/15px 'Ubuntu-Mono', monospace;
	font-weight: 600 !important;
	letter-spacing: 3px;
	color: black;
	text-align: center;
}

.project-title-settings1 {
	font: 30px/30px 'Open Sans', sans-serif;
	color: black;
	text-align: center;
}

.link-button {
	background-color: #C7B29F;
	color: black;
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 15px;
	transition: background-color 0.2s ease-in-out;
	font: 15px/15px 'Open Sans', sans-serif;
}

.link-button:hover {
	background-color: #9f8b7a;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.font-montserrat {
	font-family: 'Open Sans', sans-serif;
}

.wave {
	font-size: 160%;
}

#preview {
	width: 500px;
	background-color: #ebeaf5;
	padding: 15px;
	position: relative;
	margin-bottom: 15%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#resume {
	background: #eee5d0;
}

.experience-icon {
	font-size: 300%;
	margin-top: 25%;
	text-align: center;
}

.main-badge {
	font-size: 13px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #AE944F !important;
	color: white;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.experience-badge {
	font-size: 11px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #f9f5e9 !important;
	color: black;
	font-weight: lighter !important;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vertical-timeline-element-date {
	padding: 0 !important;
	margin: 0 !important;
	font: 25px/25px 'Open Sans', sans-serif;
	font-size: 15px !important;
}

.vertical-timeline-element-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.vertical-timeline-element-subtitle {
	font-family: 'Open Sans', sans-serif;
	line-height: 2;
}

@media only screen and (max-width: 1170px) {
	.experience-icon {
		font-size: 170%;
		margin-top: 27%;
		text-align: center;
	}
}

.modal-inside .modal-content {
	background: #F6F5F0;
}

.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars .skills {
	margin-top: 36px;
	list-style: none;
}

.bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 3px;
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}

.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #313131;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

.modal-close {
	text-align: right;
	padding: 10px 20px 10px 10px;
	cursor: pointer;
}

.close-icon {
	color: #524E4A;
	font-weight: lighter !important;
}

.modal-description {
	text-align: justify;
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
	font-size: 15px;
}

.awssld__next {
	outline: none !important;
}

.awssld__prev {
	outline: none !important;
}

.loader-bar-color {
	color: black !important;
}

#portfolio {
	background: #C7B29F;
	padding-bottom: 5%;
}

.portfolio-item {
	max-width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.portfolio .portfolio-item .portfolio-item-caption {
	-webkit-transition: all ease 0.5s;
	-moz-transition: all ease 0.5s;
	transition: all ease 0.5s;
	opacity: 0;
	background-color: rgba(51, 51, 51, 0.9);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size: 1.5rem;
}

@media (min-width: 576px) {
	.portfolio .closeButtonResponsive {
		display: block;
	}
	.portfolio .portfolio-item {
		margin-bottom: 30px;
	}
}

#skills {
	background: #F6F5F0;
	padding-bottom: 10%;
}

.skills-tile {
	background-color: transparentize(#584b46, 0.90);
	padding: 10px 10px 5px 10px;
	width: 100px;
	margin: 5px 0 5px 0;
	border-radius: 8px;
}

.section-title {
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 'Ubuntu Mono', monospace;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #f8f8f8;
	text-align: center;
}

.skill-icon {
	font-size: 200%;
	text-align: center;
	position: relative;
}

footer {
	background: #524E4A;
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	font-size: 14px;
	color: #F8F8F8;
	position: relative;
	text-align: center;
}

footer a,
footer a:visited {
	color: #F8F8F8;
}

footer a:hover,
footer a:focus {
	color: #F8F8F8;
}

.social-links {
	margin-top: 50px;
	font-size: 25px;
}

#home {
	padding-top: 0;
	padding-bottom: fixed;
}

.nav-link {
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	transition: color 0.3s ease-in-out;
	margin-right: 5px;
}

.navbar {
	background-color: white;
}

h2 {
	color: black;
}

.skill-category-title {
    font: 20px/20px 'Ubuntu-Mono', monospace;
	font-weight: 600 !important;
    color: #514E49;
}